html, body{
    margin:0;
    padding:0;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    margin:0;
    padding:15px;
    background:#0b7a3d;
    color:white;
    text-align:center;
    font-size:24px;
    font-weight:bold;
}

#map{
    width:100%;
    height:calc(100vh - 60px);
}

.legend{
    background:white;
    padding:10px;
    border-radius:6px;
    line-height:25px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.legend i{
    width:18px;
    height:18px;
    float:left;
    margin-right:8px;
    opacity:0.8;
}

.leaflet-popup-content img{
    width:250px;
    border-radius:8px;
    margin-bottom:8px;
}
